<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="isOpenExternalAccount" value="true"/><!--发件人是否开启外置账户-->
    <add key="EmailName" value="东风延锋BPM系统邮件"/>
    <add key="EmailAddress" value="bpm"/>
    <add key="EmailPwd" value=""/>
    <add key="Port" value="25"/>
    <add key="Host" value="mail.dfv.com.cn"/>
    <add key=""/>
    <add key="Default" value="Data Source=10.1.41.17;Initial Catalog=DfyfOld;Persist Security Info=true;User ID=sa;PWD=dfv@0609;Packet Size=4096;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
